@using SFA.DAS.Apprenticeships.Web.Models.ChangeOfPrice
@model ProviderViewPendingPriceChangeModel


<div class="govuk-width-container ">

    @*Renders href as href="https://approvals.{domain}/{ProviderReferenceNumber}/apprentices/{ApprenticeshipHashedId}" *@
    <a class="govuk-back-link" asp-external-subdomain="approvals" asp-external-id="@Model.ProviderReferenceNumber" asp-external-controller="apprentices" asp-external-action="@Model.ApprenticeshipHashedId">
        Back
    </a>

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Review changes</h1>

            <h2 class="govuk-heading-m">@Model.EmployerName has requested these changes</h2>

            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">

                        </th>
                        <th scope="col" class="govuk-table__header app-custom-class">Current</th>
                        <th scope="col" class="govuk-table__header app-custom-class govuk-!-width-one-third">Requested</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">

                    <component type="typeof(DetailsRowComponent)"
                               param-Id='"TrainingPrice"'
                               param-Label='"Training price"'
                               param-OriginalValue='Model.OriginalTrainingPrice.FormatCurrency()'
                               param-Value='"Enter on next page"'
                               render-mode="Static" />

                    <component type="typeof(DetailsRowComponent)"
                               param-Id='"OriginalEndPointAssessmentPrice"'
                               param-Label='"End-point assessment price"'
                               param-OriginalValue='Model.OriginalEndPointAssessmentPrice.FormatCurrency()'
                               param-Value='"Enter on next page"'
                               render-mode="Static" />

                    <component type="typeof(DetailsRowComponent)"
                               param-Id='"TotalPrice"'
                               param-Label='"Total price"'
                               param-OriginalValue='Model.OriginalTotalPrice.FormatCurrency()'
                               param-Value='Model.ApprenticeshipTotalPrice.FormatCurrency()'
                               render-mode="Static" />
                </tbody>
            </table>
            <dl class="govuk-summary-list govuk-summary-list--no-border">
                <component type="typeof(DetailsRowComponent)"
                           param-Id='"EffectiveFromDate"'
                           param-Label='"Effective from date:"'
                           param-Value='Model.EffectiveFromDate.FormatDate()'
                           param-RowType='DetailsRowComponent.DetailsRowType.DescriptionList'
                           render-mode="Static" />

                <component type="typeof(DetailsRowComponent)"
                           param-Id='"ReasonForChange"'
                           param-Label='"Reason for change:"'
                           param-Value='Model.ReasonForChangeOfPrice'
                           param-RowType='DetailsRowComponent.DetailsRowType.DescriptionList'
                           render-mode="Static" />

            </dl>

            <form method="post" action="/provider/@Model.ProviderReferenceNumber/ChangeOfPrice/@Model.ApprenticeshipHashedId/pending">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.CacheKey)
                <div class="govuk-form-group">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Do you want to approve these changes?
                    </legend>

                    <div id="apprenticeship-price-hint" class="govuk-hint">
                        Once you approve the new total price, you can enter the new training and end-point assessment price.
                    </div>

                    <div class="govuk-radios  @ViewContext.DisplayFormGroupError(nameof(Model.ApproveRequest))">

                        <component type="typeof(RadioOptionComponent)" render-mode="Static"
                                   param-Id='"option-yes"'
                                   param-name='"ApproveRequest"'
                                   param-Value='"1"'
                                   param-Label='"Yes, approve these changes"'
                                   param-onchange='"javascript: showHideRejectReason();"' />

                        <component type="typeof(RadioOptionComponent)" render-mode="Static"
                                   param-Id='"option-no"'
                                   param-name='"ApproveRequest"'
                                   param-Value='"0"'
                                   param-Label='"No, reject these changes"'
                                   param-onchange='"javascript: showHideRejectReason();"' />

                        @Html.ValidationMessageFor(m => m.ApproveRequest, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.ApproveRequest) })
                    </div>

                    <div id="rejectReasonContainer">
                        <fieldset class="govuk-fieldset" role="group" aria-describedby="ReasonForChangeOfPriceRejection-hint">
                            <br />
                            <div>
                                <div class="govuk-form-group" id="ReasonForChangeOfPriceRejectionGroup">
                                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s" for="ReasonForChangeOfPriceRejection">
                                        Why do you want to reject these changes?
                                    </legend>
                                    @Html.TextArea("rejectReason", new { @class = $"govuk-textarea", rows = "5", aria_describedby = "reason-for-rejection-hint" })
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <button class="govuk-button" data-module="govuk-button" type="submit" id="buttonSubmitForm">
                    Save and continue
                </button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showHideRejectReason() {
        console.log(document.getElementById("option-no").checked);
        if (!document.getElementById("option-no").checked) {
            document.getElementById("rejectReasonContainer").style.display = "none";
        } else {
            document.getElementById("rejectReasonContainer").style.display = "block";
        }
    }

    showHideRejectReason();
</script>