@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Provider.Shared.UI.TagHelpers
@model SFA.DAS.Apprenticeships.Web.Models.ChangeOfPaymentStatus.FreezeProviderPaymentsModel
@{
    ViewData["Title"] = "Withhold provider payments - Manage apprenticeships";
    const int MaxCharacters = 200;
    var charactersRemaining = MaxCharacters - Model.ReasonForFreeze?.Length ?? MaxCharacters;
}

<div class="govuk-width-container ">

    @*Renders href as href="https://approvals.{domain}/{ProviderReferenceNumber}/apprentices/{ApprenticeshipHashedId}" *@
    <a class="govuk-back-link" href="@Model.BackLinkUrl">
        Back
    </a>

    <main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content" role="main">

        <form method="post" action="/employer/@Model.EmployerAccountId/PaymentsFreeze/@Model.ApprenticeshipHashedId">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.CacheKey)
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h1 class="govuk-heading-l">Withhold provider payments</h1>
                    <p>
                        Only use this if you have a dispute with the training provider and need to withhold training provider payments.

                        The learner status will not be changed. If you need to change learner status, contact the training provider.
                    </p>
                    <details class="govuk-details">
                        <summary class="govuk-details__summary">
                            <span class="govuk-details__summary-text">
                                What does withholding payments do?
                            </span>
                        </summary>
                        <div class="govuk-details__text">
                            Withholding your payments suspends all transactions to the payment provider. If payments are withheld on the
                            scheduled
                            payment day, no funds will be transferred to the provider for that specific period.
                        </div>
                    </details>
                    <div class="govuk-form-group govuk-!-margin-top-7  @ViewContext.DisplayFormGroupError(nameof(Model.FreezePayments))">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                Do you want to withhold training provider payments?
                            </legend>
                            
                            <div class="govuk-radios">
                                <component type="typeof(RadioOptionComponent)" param-Id='"freezePayments-true"' param-name='"FreezePayments"' param-Value='"true"' render-mode="Static" param-onchange='"javascript: showHideFreezeReason();"'
                                           param-Label='"Yes, withhold future payments"' param-checked='Model.FreezePayments == true' />
                                <div id="reason-for-freeze-section">
                                    <div class="govuk-form-group">
                                        <label class="govuk-label">
                                            Specify reason for withholding training provider payments (optional)
                                        </label>
                                        <div id="reason-for-freeze-hint" class="govuk-hint">
                                            This reason will be shared with the training provider
                                        </div>
                                        <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="200">
                                            <div class="govuk-form-group">
                                                <div id="reason-for-freeze" class="govuk-hint govuk-character-count__message">
                                                    @Html.TextAreaFor(m => m.ReasonForFreeze, new { @class = $"govuk-textarea", rows = "5", aria_describedby = "reason-for-freeze-hint", maxlength = MaxCharacters, onkeyup = $"calculateRemainingCharacters(this, {MaxCharacters}, 'ReasonForFreeze-RemainingCharacters')" })
                                                </div>
                                                <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                                                    <span js-enabled-show hidden><span id="ReasonForFreeze-RemainingCharacters">@charactersRemaining</span> characters remaining</span>
                                                    <span js-enabled-hide>Max @MaxCharacters characters</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <component type="typeof(RadioOptionComponent)" param-Id='"freezePayments-false"' param-name='"FreezePayments"' param-Value='"false"' render-mode="Static" param-onchange='"javascript: showHideFreezeReason();"'
                                           param-Label='"No"' param-checked='Model.FreezePayments == false' />
                                @Html.ValidationMessageFor(m => m.FreezePayments, null, new { @class = "govuk-error-message", id = "error-message-" + Html.IdFor(m => m.FreezePayments) })
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
            <button class="govuk-button" data-module="govuk-button" type="submit" id="buttonSubmitForm">
                Confirm changes
            </button>

        </form>
    </main>
</div>

<script type="text/javascript">
    function showHideFreezeReason() {
        console.log(document.getElementById("freezePayments-true").checked);
        if (!document.getElementById("freezePayments-true").checked) {
            document.getElementById("reason-for-freeze-section").style.display = "none";
        } else {
            document.getElementById("reason-for-freeze-section").style.display = "block";
        }
    }

    showHideFreezeReason();
</script>