@*
	Adds a details row, typlically used on check details pages.
	This can be used within both a <tbody> and a <dl> element.

	The row can display a before and after value or just a single value.
*@
@switch (RowType)
{
	case DetailsRowType.Table:
		<tr class="govuk-table__row">
			<th scope="row" class="govuk-table__header">@Label</th>
			@if (!string.IsNullOrEmpty(OrginalValue))
			{
				<td class="govuk-table__cell">@OrginalValue</td>
			}
			<td class="govuk-table__cell" id="@Id">@Value</td>
			<td class="govuk-table__cell" style="text-align: right;">
				<a class="govuk-link" href="@Url">
					Change<span class="govuk-visually-hidden">@Label</span>
				</a>
			</td>
		</tr>
		break;

    case DetailsRowType.DescriptionList:
		<div class="govuk-summary-list__row">
			<dt class="govuk-summary-list__key">@Label</dt>
			<dd class="govuk-summary-list__value govuk-!-width-one-quarter" style="padding-left:10px;">@Value</dd>
			<dd class="govuk-summary-list__actions">
				<a class="govuk-link" href="@Url">
					Change<span class="govuk-visually-hidden">@Label</span>
				</a>
			</dd>
		</div>
        break;
}

@code {
	[Parameter]
	public string Id { get; set; } = string.Empty;

	[Parameter]
	public string Label { get; set; } = string.Empty;

	[Parameter]
	public string OrginalValue { get; set; } = string.Empty;

	[Parameter]
	public string Value { get; set; } = string.Empty;

	[Parameter]
	public string Url { get; set; } = string.Empty;

	[Parameter]
	public DetailsRowType RowType { get; set; } = DetailsRowType.Table;

	public enum DetailsRowType
	{
		Table,
		DescriptionList
	}
}
