<div class="govuk-radios__item">
    @if (string.IsNullOrEmpty(Conditional))
    {
        <input class="govuk-radios__input" id="@Id" name="@Name" type="radio" value="@Value" checked="@Checked">
    }
    else
    {
        <input class="govuk-radios__input" id="@Id" name="@Name" type="radio" value="@Value" checked="@Checked" aria-controls="@Conditional" aria-expanded="false">
    }

    <label class="govuk-label govuk-radios__label" for="@Id">
        @Label
    </label>
</div>

@code {
    [Parameter]
    public string Id { get; set; } = string.Empty;

    [Parameter]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    public string Value { get; set; } = string.Empty;

    [Parameter]
    public string Label { get; set; } = string.Empty;

    [Parameter]
    public string Conditional { get; set; } = string.Empty;

    [Parameter]
    public bool Checked { get; set; } = false;
}
